  <%= stylesheet_link_tag    "colorpicker/css/colorpicker.css" %>
  <%= javascript_include_tag "colorpicker/js/colorpicker.js" %>
  <%= javascript_include_tag "javascripts/activatecp.js" %>
<table>
<tr><td>
<div id="customWidget">
					<div id="colorSelector1"><div style="background-color: #00ff00">Color 1</div></div>
	                <div id="colorpickerHolder1"></div>
</TD><TD>
<div id="customWidget"><div id="colorSelector2"><div style="background-color: #00ff00">Color 2</div></div>
	                <div id="colorpickerHolder2"></div>
</td>
<TD>
<div id="customWidget"><div id="colorSelector3"><div style="background-color: #00ff00">Color 3</div></div>
	                <div id="colorpickerHolder3"></div>
</td>
<TD>
<div id="customWidget"><div id="colorSelector4"><div style="background-color: #00ff00">Color 4</div></div>
	                <div id="colorpickerHolder4"></div>
</td></TR></TABLE>
<INPUT TYPE=hidden id=color1rgb value="0,255,0">
<INPUT TYPE=hidden id=color2rgb value="0,255,0">
<INPUT TYPE=hidden id=color3rgb value="0,255,0">
<INPUT TYPE=hidden id=color4rgb value="0,255,0">

<TABLE border=1 WIDTH=100%>

<% (1..20).each do |i| %>
  <TR>
  <% (1..20).each do |j| %>
     <TD id="r<%= i %>c<%= j %>">
     </TD>
  <% end %>
  </TR>    
<% end %>
